@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" style="font-size: 1.1pt; position:absolute; top:-900; font-family: Lucida Handwriting"> 
    <h1 class="display-4">ButtonManufacture</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
