@{ ViewData["Title"] = "Product"; }
<h1>@ViewData["Title"]</h1>

<p>We are experienced in the Products that we manufacture.</p>
<td>
    <img src="~/Images/btn.jpg" alt="" height=250 width=250 />
</td>